<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crontiers.pillife">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" android:required="false"/>

    <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
See README(https://goo.gl/l4GJaQ) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_launcher" />
    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/vr1" />


    <application
        android:name="com.crontiers.pillife.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:exported="true"
            android:name="com.crontiers.pillife.ActivityEmpty"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.crontiers.pillife.ActivityMain"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivityIntro"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivityGuide"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivitySearch"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivityNaver"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivityNaverSearch"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />


        <activity
            android:name="com.crontiers.pillife.ActivityDrugShape"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.crontiers.pillife.ActivityInputDrugIdentity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:exported="true"
            android:name="com.crontiers.pillife.ActivityCamera"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:exported="true"
            android:name="com.crontiers.pillife.MainActivity"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- App links for http/s -->
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="example.android.com" />
                <data android:pathPattern="/camerax" />
            </intent-filter>

            <!-- Declare notch support -->
            <meta-data android:name="android.notch_support" android:value="true"/>
        </activity>

        <!-- Google FCM -->
        <service
            android:exported="true"
            android:name="com.crontiers.pillife.FCM.MyFirebaseMessagingService">
            <intent-filter >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:exported="true"
            android:name="com.crontiers.pillife.FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>